<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotino">
    <xacro:include filename="$(find robotino_roller)/description/urdf/properties.xacro"/>
    <xacro:include filename="$(find robotino_roller)/description/urdf/utils.xacro"/>
    <xacro:include filename="$(find robotino_roller)/description/urdf/wheel.xacro"/>

    <!-- Used for fixing robot to the world in Gazebo -->
    <link name="base_link">
        <!-- <xacro:inertial_cylinder mass="${WHEEL_MASS}" height="${WHEEL_HEIGHT}" radius="${WHEEL_RADIUS}">
            <origin xyz="0 0 0"/>
        </xacro:inertial_cylinder> -->
    </link>

    <link name="chassis_link">
        <xacro:inertial_cylinder mass="${BASE_MASS}" radius="${BASE_RADIUS}" height="${BASE_HEIGHT}">
            <origin xyz="0 0 0"/>
        </xacro:inertial_cylinder>
        <visual>
            <!-- <origin xyz="0 0 ${BASE_HEIGHT}" rpy="0 0 0" /> -->
            <origin xyz="0.01 0 0" rpy="0 0 ${M_PI/2}"/>
            <geometry>
                <!-- <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/> -->
                <mesh filename="package://robotino_roller/description/mesh/robotino_base.dae" scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 ${BASE_HEIGHT}" rpy="0 0 0" />
            <geometry>
                <cylinder radius="${BASE_RADIUS}" length="${BASE_HEIGHT}"/>
            </geometry>
        </collision>
    </link>
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <origin xyz="0 0 0"/>
    </joint>
    <gazebo reference="chassis">
        <material>Gazebo/White</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <xacro:wheel_macro name="wheel0" parent="chassis_link">
        <origin xyz="0.065 0.11 0.04" rpy="${M_PI/2} 0 ${-M_PI/6}"/>
        <axis xyz="0 0 1"/>
    </xacro:wheel_macro>

    <xacro:wheel_macro name="wheel1" parent="chassis_link">
        <origin xyz="-0.13 0 0.04" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <axis xyz="0 0 1"/>
    </xacro:wheel_macro>

    <xacro:wheel_macro name="wheel2" parent="chassis_link">
        <origin xyz="0.065 -0.11 0.04" rpy="${M_PI/2} 0 ${M_PI*(7/6)}"/>
        <axis xyz="0 0 1"/>
    </xacro:wheel_macro>

    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control"/>
    </gazebo>
</robot>